**/.vault/
**/.wrangler/

# Artifacts
**/.artifacts/build/
**/.artifacts/cache/
**/.artifacts/data/
**/.artifacts/deps/
**/.artifacts/logs/
**/.artifacts/tmp/

**/.artifacts/js/
**/.artifacts/wasm/

**/.docker/data/

## Caches

**/.cache/

# Configuration Files
**/.config/*

**/*.env
**/*.env.*

### Exceptions
!**/.config/default.config.*
!**/.config/example.config.*

!**/example.env.*
!**/*.env.example
!**/*.env.default

# Dev

### Idea

**/.idea/

### vscode

**/.vscode/

# File Extensions

!**/*.lock
!**/*.lock.*

!**/*-lock.*

**/*.log
**/*.log.*

### Data Files

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.zip
**/*.zip.*

## Rust
**/debug/
**/target/

**/*.bk
**/*.bk.*

!**/Cargo.lock

### wasm-pack
**/.wasm-pack/
**/pkg/


## Node
**/build/
**/debug/
**/dist/
**/node_modules/

### SvelteKit
**/__sapper__/
**/.DS_STORE/
**/.svelte-kit/

## Python
**/__pycache__/
**/.pytest_cache/
**/venv/

**/*.egg
**/*.egg.*

**/*.egg-info

**/*.pyc
**/*.pyc.*

**/*.pyo
**/*.pyo.*

**/*.pyz
**/*.pyz.*

**/*.pyzw
**/*.pyzw.*

**/*.whl
**/*.whl.*

## Operating Systems

### Windows (WSL2)
**/*:Zone.Identifier