# Development

## Configuration Files
**/.config/*.config.*

**/*.env
**/*.env.*

### Exceptions
!**/.config/default.config.*
!**/.config/docker.config.*

!**/*.env.example
!**/*.env.default

!**/default.env
!**/default.env.*

!**/example.env
!**/example.env.*

## IDE's

### Atom
**/.atom/

### Idea
**/.idea/

### vscode
**/.vscode/

# Language Specific

## Node
**/build/
**/debug/
**/dist/
**/node_modules/

### SvelteKit
**/__sapper__/
**/.DS_STORE/
**/.svelte-kit/

## Python
**/__pycache__/
**/.pytest_cache/
**/venv/

**/*.egg
**/*.egg.*

**/*.egg-info

**/*.pyc
**/*.pyc.*

**/*.pyo
**/*.pyo.*

**/*.pyz
**/*.pyz.*

**/*.pyzw
**/*.pyzw.*

**/*.whl
**/*.whl.*

## Rust
**/debug/
**/target/

**/*.bk
**/*.bk.*

**/Cargo.lock

### Cloudflare Workers
**/.wrangler/

# Miscellaneous

## File Extensions
**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.lock
**/*.lock.*

**/*-lock.*

**/*.log
**/*.log.*

**/*.sqlite
**/*.sqlite.*

**/*.zip
**/*.zip.*

## Operating Systems

### Nix
!**/flake.lock

### Windows
#### WSL
**/*:Zone.Identifier
